## Data Manipulation module
### Homework assignment 2
Welcome to the second homework assignment of the data manipulation module. In this assignment you will be working with Pandas DataFrames. The goal of this assignment is to get you familiar with such dataframes in Python.

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE` or `YOUR ANSWER HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 25-01 23:59**.

In [1]:
import pandas as pd
import numpy as np

Download the `weatherAUS.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [58]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

1. Use the describe function to gain insight in the attributes of the dataframe. Analyze the info and create a short write-up according to your findings.

In [4]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

YOUR ANSWER HERE

2. Find the shape and the size of the dataset

In [6]:
df.shape
df.size

3345580

3. Find the types of all columns and save the result as a dataframe with the column names as index. Call the column with the types 'dtypes'.

In [51]:
D1=pd.DataFrame(df.dtypes, columns=['dtypes'])
print(D1)

                dtypes
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

4. Find the non-null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the non-null counts 'counts'.

In [52]:
D2=pd.DataFrame(df.isna().sum(),columns=['counts'])
print(D2)

               counts
Date                0
Location            0
MinTemp          1485
MaxTemp          1261
Rainfall         3261
Evaporation     62790
Sunshine        69835
WindGustDir     10326
WindGustSpeed   10263
WindDir9am      10566
WindDir3pm       4228
WindSpeed9am     1767
WindSpeed3pm     3062
Humidity9am      2654
Humidity3pm      4507
Pressure9am     15065
Pressure3pm     15028
Cloud9am        55888
Cloud3pm        59358
Temp9am          1767
Temp3pm          3609
RainToday        3261
RainTomorrow     3267

5. Find the null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the null counts 'null-counts'.

In [53]:
D3=pd.DataFrame(df.isna().sum(),columns=['null-counts'])
print(D3)

               null-counts
Date                     0
Location                 0
MinTemp               1485
MaxTemp               1261
Rainfall              3261
Evaporation          62790
Sunshine             69835
WindGustDir          10326
WindGustSpeed        10263
WindDir9am           10566
WindDir3pm            4228
WindSpeed9am          1767
WindSpeed3pm          3062
Humidity9am           2654
Humidity3pm           4507
Pressure9am          15065
Pressure3pm          15028
Cloud9am             55888
Cloud3pm             59358
Temp9am               1767
Temp3pm               3609
RainToday             3261
RainTomorrow          3267

6. Find the number of unique values of all columns and save the result as a dataframe with the column names as index. Call the column with the unique counts 'unique-counts'.

In [54]:
df.nunique()
D4=pd.DataFrame(df.nunique(),columns=['unique-counts'])
print(D4)

               unique-counts
Date                    3436
Location                  49
MinTemp                  389
MaxTemp                  505
Rainfall                 681
Evaporation              358
Sunshine                 145
WindGustDir               16
WindGustSpeed             67
WindDir9am                16
WindDir3pm                16
WindSpeed9am              43
WindSpeed3pm              44
Humidity9am              101
Humidity3pm              101
Pressure9am              546
Pressure3pm              549
Cloud9am                  10
Cloud3pm                  10
Temp9am                  441
Temp3pm                  502
RainToday                  2
RainTomorrow               2

7. Merge the dataframes you created exercise 3, 4, 5 and 6 into one dataframe with the column names as index and the columns 'dtypes', 'counts', 'null-counts' and 'unique-counts'.

In [55]:
pd.concat([D1,D2,D3,D4])

               dtypes  counts  null-counts  unique-counts
Date           object     NaN          NaN            NaN
Location       object     NaN          NaN            NaN
MinTemp       float64     NaN          NaN            NaN
MaxTemp       float64     NaN          NaN            NaN
Rainfall      float64     NaN          NaN            NaN
...               ...     ...          ...            ...
Cloud3pm          NaN     NaN          NaN           10.0
Temp9am           NaN     NaN          NaN          441.0
Temp3pm           NaN     NaN          NaN          502.0
RainToday         NaN     NaN          NaN            2.0
RainTomorrow      NaN     NaN          NaN            2.0

[92 rows x 4 columns]

8. Lowercase all column names of the dataframe.

In [74]:
pd.DataFrame(df,columns=df.columns.str.lower())

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,tempdiff
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.7
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.8
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.6
145456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.7
145457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5
145458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.2
145459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

9. Change all the "No" strings to "NoRain" and all the "Yes" strings to "Rain" in the raintoday and raintomorrow column.

In [75]:
df.replace(['No','Yes'], ('NoRain','Rain'))

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

10. Change the datatype of the "date" column to datetime64 and reformat the date as DD/MM/YYYY.
Hint: use `to_datetime` and `strftime`.

In [61]:
df['Date'] = df['Date'].astype('datetime64')
pd.to_datetime(df["Date"].dt.strftime('%d/%m/%y'))

0        2008-01-12
1        2008-02-12
2        2008-03-12
3        2008-04-12
4        2008-05-12
            ...
145455   2017-06-21
145456   2017-06-22
145457   2017-06-23
145458   2017-06-24
145459   2017-06-25
Name: Date, Length: 145460, dtype: datetime64[ns]

11. Create a new column with the difference between the maxtemp and mintemp columns for each row. Call this column tempdiff.

In [76]:
df['tempdiff']=df['MaxTemp']-df['MinTemp']
print(df)

             Date Location  MinTemp  MaxTemp  Rainfall WindGustDir  \
0      2008-12-01   Albury     13.4     22.9       0.6           W
1      2008-12-02   Albury      7.4     25.1       0.0         WNW
2      2008-12-03   Albury     12.9     25.7       0.0         WSW
3      2008-12-04   Albury      9.2     28.0       0.0          NE
4      2008-12-05   Albury     17.5     32.3       1.0           W
...           ...      ...      ...      ...       ...         ...
145455 2017-06-21    Uluru      2.8     23.4       0.0           E
145456 2017-06-22    Uluru      3.6     25.3       0.0         NNW
145457 2017-06-23    Uluru      5.4     26.9       0.0           N
145458 2017-06-24    Uluru      7.8     27.0       0.0          SE
145459 2017-06-25    Uluru     14.9      NaN       0.0         NaN

        WindGustSpeed WindDir9am WindDir3pm  WindSpeed9am  ...  Humidity3pm  \
0                44.0          W        WNW          20.0  ...         22.0
1                44.0        NNW        WSW           4.0  ...         25.0
2                46.0          W        WSW          19.0  ...         30.0
3                24.0         SE          E          11.0  ...         16.0
4                41.0        ENE         NW           7.0  ...         33.0
...               ...        ...        ...           ...  ...          ...
145455           31.0         SE        ENE          13.0  ...         24.0
145456           22.0         SE          N          13.0  ...         21.0
145457           37.0         SE        WNW           9.0  ...         24.0
145458           28.0        SSE          N          13.0  ...         24.0
145459            NaN        ESE        ESE          17.0  ...         36.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
0            1007.7       1007.1       8.0       NaN     16.9     21.8
1            1010.6       1007.8       NaN       NaN     17.2     24.3
2            1007.6       1008.7       NaN       2.0     21.0     23.2
3            1017.6       1012.8       NaN       NaN     18.1     26.5
4            1010.8       1006.0       7.0       8.0     17.8     29.7
...             ...          ...       ...       ...      ...      ...
145455       1024.6       1020.3       NaN       NaN     10.1     22.4
145456       1023.5       1019.1       NaN       NaN     10.9     24.5
145457       1021.0       1016.8       NaN       NaN     12.5     26.1
145458       1019.4       1016.5       3.0       2.0     15.1     26.0
145459       1020.2       1017.9       8.0       8.0     15.0     20.9

        RainToday  RainTomorrow tempdiff
0              No            No      9.5
1              No            No     17.7
2              No            No     12.8
3              No            No     18.8
4              No            No     14.8
...           ...           ...      ...
145455         No            No     20.6
145456         No            No     21.7
145457         No            No     21.5
145458         No            No     19.2
145459         No           NaN      NaN

[145460 rows x 22 columns]

12. Remove the evaporation and sunshine columns from the dataframe.

In [ ]:
# del df['Evaporation'],df['Sunshine']
# print(df)
pd.drop(['Evaporation','Sunshine'])

13. Find the most rainy day for each city

In [ ]:
df2 = pd.unique(df[['Location']].values.ravel())
dic={}
for i in df2:
      max=df[df['Location']== i]['Rainfall'].max(numeric_only=True)
      dic[i]=max
   
print(dic)

14. Filter out all data for the city Albury and then sort the resulting dataframe in ascending order based on the maxtemp column

In [ ]:
df[df['Location']=='Albury'].sort_values(by='MaxTemp',ascending=True)

15. Remove all rows with missing values in the windgustdir column

In [ ]:
df['WindGustDir'].dropna(how="all")

16. Find the hottest day of "Perth"

In [ ]:
df[df['Location']=='Perth'].MaxTemp.max()

17. Group your dataframe by location and find the average of all numerical columns per location.

In [ ]:
df.groupby(by=["Location"]).sum(numeric_only=True)