## Data Manipulation module
### Homework assignment 2
Welcome to the second homework assignment of the data manipulation module. In this assignment you will be working with Pandas DataFrames. The goal of this assignment is to get you familiar with such dataframes in Python.

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE` or `YOUR ANSWER HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 25-01 23:59**.

In [1]:
import pandas as pd
import numpy as np

Download the `weatherAUS.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [5]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

1. Use the describe function to gain insight in the attributes of the dataframe. Analyze the info and create a short write-up according to your findings.

In [4]:
# YOUR CODE HERE
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

YOUR ANSWER HERE

2. Find the shape and the size of the dataset

In [6]:
# YOUR CODE HERE
df.shape

(145460, 23)

3. Find the types of all columns and save the result as a dataframe with the column names as index. Call the column with the types 'dtypes'.

In [27]:
# YOUR CODE HERE
dtypes= df.dtypes
dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

4. Find the non-null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the non-null counts 'counts'.

In [12]:
# YOUR CODE HERE
counts =df.count()
counts

Date             145460
Location         145460
MinTemp          143975
MaxTemp          144199
Rainfall         142199
Evaporation       82670
Sunshine          75625
WindGustDir      135134
WindGustSpeed    135197
WindDir9am       134894
WindDir3pm       141232
WindSpeed9am     143693
WindSpeed3pm     142398
Humidity9am      142806
Humidity3pm      140953
Pressure9am      130395
Pressure3pm      130432
Cloud9am          89572
Cloud3pm          86102
Temp9am          143693
Temp3pm          141851
RainToday        142199
RainTomorrow     142193
dtype: int64

5. Find the null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the null counts 'null-counts'.

In [16]:
# YOUR CODE HERE
null_counts = df.isnull().sum()
null_counts

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

6. Find the number of unique values of all columns and save the result as a dataframe with the column names as index. Call the column with the unique counts 'unique-counts'.

In [28]:
# YOUR CODE HERE
unique_counts = df.nunique()
unique_counts

Date             3436
Location           49
MinTemp           389
MaxTemp           505
Rainfall          681
Evaporation       358
Sunshine          145
WindGustDir        16
WindGustSpeed      67
WindDir9am         16
WindDir3pm         16
WindSpeed9am       43
WindSpeed3pm       44
Humidity9am       101
Humidity3pm       101
Pressure9am       546
Pressure3pm       549
Cloud9am           10
Cloud3pm           10
Temp9am           441
Temp3pm           502
RainToday           2
RainTomorrow        2
dtype: int64

7. Merge the dataframes you created exercise 3, 4, 5 and 6 into one dataframe with the column names as index and the columns 'dtypes', 'counts', 'null-counts' and 'unique-counts'.

In [33]:
# YOUR CODE HERE
merge = pd.concat([ dtypes, counts ,   null_counts, unique_counts], axis=1)
merge.columns = [  'dtypes', 'counts', 'null-counts' , 'unique-counts']
merge

                dtypes  counts  null-counts  unique-counts
Date            object  145460            0           3436
Location        object  145460            0             49
MinTemp        float64  143975         1485            389
MaxTemp        float64  144199         1261            505
Rainfall       float64  142199         3261            681
Evaporation    float64   82670        62790            358
Sunshine       float64   75625        69835            145
WindGustDir     object  135134        10326             16
WindGustSpeed  float64  135197        10263             67
WindDir9am      object  134894        10566             16
WindDir3pm      object  141232         4228             16
WindSpeed9am   float64  143693         1767             43
WindSpeed3pm   float64  142398         3062             44
Humidity9am    float64  142806         2654            101
Humidity3pm    float64  140953         4507            101
Pressure9am    float64  130395        15065            546
Pressure3pm    float64  130432        15028            549
Cloud9am       float64   89572        55888             10
Cloud3pm       float64   86102        59358             10
Temp9am        float64  143693         1767            441
Temp3pm        float64  141851         3609            502
RainToday       object  142199         3261              2
RainTomorrow    object  142193         3267              2

8. Lowercase all column names of the dataframe.

In [39]:
# YOUR CODE HERE
df.columns = df.columns.str.lower()
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

9. Change all the "No" strings to "NoRain" and all the "Yes" strings to "Rain" in the raintoday and raintomorrow column.

In [56]:
# YOUR CODE HERE
# df['raintoday'][ df['raintoday']df['raintoday']=='No']
df['raintoday'][df['raintoday']=='No']='NoRain'
df['raintoday'][df['raintomorrow']=='Yes']='Rain'
df

C:\Users\mikda\AppData\Local\Temp\ipykernel_13768\1613642084.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['raintoday'][df['raintoday']=='No']='NoRain'
C:\Users\mikda\AppData\Local\Temp\ipykernel_13768\1613642084.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['raintoday'][df['raintomorrow']=='Yes']='Rain'

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN

10. Change the datatype of the "date" column to datetime64 and reformat the date as DD/MM/YYYY.
Hint: use `to_datetime` and `strftime`.

In [59]:
# YOUR CODE HERE
df.date.dtype

dtype('O')

11. Create a new column with the difference between the maxtemp and mintemp columns for each row. Call this column tempdiff.

In [61]:
# YOUR CODE HERE
df['tempdiff']=df['maxtemp']- df['mintemp']
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,No,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,No,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,No,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,No,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,No,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,No,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,No,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,No,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,No,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

12. Remove the evaporation and sunshine columns from the dataframe.

In [63]:
# YOUR CODE HERE
df.drop(columns=['evaporation', 'sunshine'], inplace=True)
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'windgustdir',
       'windgustspeed', 'winddir9am', 'winddir3pm', 'windspeed9am',
       'windspeed3pm', 'humidity9am', 'humidity3pm', 'pressure9am',
       'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am', 'temp3pm',
       'raintoday', 'raintomorrow', 'tempdiff'],
      dtype='object')

13. Find the most rainy day for each city

In [70]:
# YOUR CODE HERE
df.groupby("location").max()

C:\Users\mikda\AppData\Local\Temp\ipykernel_13768\1240497659.py:2: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  df.groupby("location").max()

75.2

14. Filter out all data for the city Albury and then sort the resulting dataframe in ascending order based on the maxtemp column

In [ ]:
# YOUR CODE HERE

15. Remove all rows with missing values in the windgustdir column

In [72]:
# YOUR CODE HERE
df = df[df.windgustdir.notna()]
df['windgustdir'].isna().sum()

0

16. Find the hottest day of "Perth"

In [89]:
# YOUR CODE HERE
 
df.loc[df.query('location == "Perth"').maxtemp.idxmax()]

date             2015-01-05
location              Perth
mintemp                23.2
maxtemp                44.4
rainfall                0.0
windgustdir              NE
windgustspeed          37.0
winddir9am               NE
winddir3pm               SW
windspeed9am           17.0
windspeed3pm           17.0
humidity9am            30.0
humidity3pm            23.0
pressure9am          1008.5
pressure3pm          1005.5
cloud9am                0.0
cloud3pm                2.0
temp9am                33.9
temp3pm                39.5
raintoday            NoRain
raintomorrow             No
tempdiff               21.2
Name: 122928, dtype: object

17. Group your dataframe by location and find the average of all numerical columns per location.

In [93]:
# YOUR CODE HERE
df.groupby([ 'location']).mean()

,mintemp,maxtemp,rainfall,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,tempdiff
location,,,,,,,,,,,,,,,
Adelaide,12.571487,22.891254,1.576076,36.499211,9.954804,15.470774,59.716182,44.866941,1018.758665,1016.798356,NaN,NaN,16.925284,21.552038,10.319766
Albury,9.518588,22.629555,1.904552,32.977394,8.209720,14.385358,74.101198,47.907912,1018.366190,1015.752959,6.393916,5.410148,14.347304,21.361802,13.113258
AliceSprings,13.155254,29.281325,0.869484,40.531281,14.754603,18.098092,39.542015,24.035846,1016.684639,1012.866812,2.838528,3.242597,21.365072,28.043254,16.128423
BadgerysCreek,11.135741,24.014949,2.215406,33.600409,8.053590,13.997940,76.932530,51.426309,1018.469363,1015.657849,NaN,NaN,16.567467,22.513928,12.876525
Ballarat,7.348670,18.267930,1.706369,44.982719,19.976024,22.770792,81.801338,59.051948,1017.872715,1016.289983,5.810219,6.282246,11.658253,16.772537,10.918152
Bendigo,8.611841,21.625609,1.631586,38.844948,12.945630,17.173173,70.579158,46.516011,1017.991296,1015.831417,4.418262,4.867384,13.850317,20.251734,13.009773
Brisbane,16.414204,26.436043,3.119424,28.212881,6.950508,10.993331,64.064762,53.917250,1018.252094,1015.119022,3.920025,3.886349,21.822317,24.734087,10.018130
Cairns,21.225099,29.559550,5.701852,38.026150,15.902649,21.907616,69.937086,61.751738,1014.152351,1011.098444,4.561036,4.441145,25.821921,27.911188,8.335563
Canberra,6.670100,20.731579,1.745920,40.071682,10.444228,19.082444,73.814206,46.445272,1019.003108,1016.256796,4.888889,4.802676,12.486515,19.246330,14.061479
Cobar,13.131412,25.853488,1.132655,36.750590,14.679717,15.143965,55.148317,33.881837,1017.994375,1015.327909,3.311223,3.861215,18.102632,24.517262,12.722076
CoffsHarbour,14.522998,23.971493,4.990985,39.227925,15.273139,21.186011,68.161815,62.380447,1018.245185,1015.847220,4.324651,4.500229,20.191770,22.372951,9.450322
Dartmoor,8.620518,19.696769,2.150272,38.898299,10.815458,17.949643,85.218739,62.439885,1018.003777,1016.512628,NaN,NaN,12.588632,18.181354,11.061622
Darwin,23.190022,32.538259,5.076454,40.579917,15.043561,20.848061,68.414812,51.699301,1011.911825,1008.365130,4.323268,4.296025,27.170321,31.087095,9.348236
GoldCoast,17.287324,25.713189,3.737301,42.476370,19.331962,25.831619,66.218213,62.824055,1017.981747,1015.278219,NaN,NaN,22.308973,23.712466,8.421213
Hobart,9.080883,17.858517,1.604739,47.530915,16.291167,19.818870,65.650316,52.974668,1014.507447,1012.941338,4.845771,4.963591,12.460271,16.166835,8.777634
Katherine,20.546272,34.915762,3.239856,38.771465,12.100129,15.783959,63.863358,42.824897,1012.786886,1008.483840,2.587417,3.199762,26.634195,33.551130,14.394619
Launceston,7.858822,18.983062,2.016483,35.625749,8.471547,15.555333,79.450732,57.240506,1015.647558,1013.722920,6.315716,5.719346,12.050266,17.709860,11.122877
Melbourne,11.770359,20.760489,1.874019,45.610255,19.091281,22.071721,67.577308,51.158990,1017.642868,1015.787500,5.311132,5.336386,14.580467,19.263822,8.992291
MelbourneAirport,9.962558,20.478958,1.456045,46.919172,20.244905,23.057114,70.139317,51.152429,1018.102071,1016.295090,5.246827,5.264952,14.110354,18.947027,10.516399
Mildura,10.738782,24.848202,0.945370,37.168775,14.000999,16.695305,64.088637,35.402000,1018.765133,1016.255929,3.384800,3.922996,15.536563,23.434266,14.109421
Moree,12.909625,26.975060,1.612936,39.889116,18.089170,16.832251,61.297916,35.663363,1018.329512,1014.943432,3.340373,3.961901,18.875708,25.678028,14.063720
MountGambier,8.820797,19.818882,2.078296,42.853030,17.496651,22.372194,75.525856,57.378986,1017.967861,1016.397587,5.518377,5.478668,13.777804,18.170476,10.999096
MountGinini,3.487122,11.506027,3.317951,46.253951,15.807078,14.979111,77.152479,70.062107,NaN,NaN,NaN,NaN,6.787454,10.086023,8.059164
Nhil,8.991959,22.394576,0.933973,42.542438,16.435227,20.960434,73.059349,44.942565,1018.537779,1016.393810,NaN,NaN,13.374091,20.863114,13.402616
NorahHead,15.346429,22.583152,3.388950,42.183051,13.866008,20.983657,74.592087,67.488079,1018.262377,1016.012033,NaN,NaN,18.463677,20.760368,7.236067
NorfolkIsland,16.868073,21.827935,3.132717,42.601889,20.171119,21.871414,70.779655,67.832265,1017.626928,1015.886703,5.025508,4.849725,19.777492,20.471178,4.961323
Nuriootpa,9.404508,21.751250,1.380203,40.681081,14.239513,18.161072,66.731707,45.364530,1018.870118,1016.746479,4.682299,4.875965,14.886270,20.358917,12.363729
PearceRAAF,12.295443,26.052760,1.691525,43.579958,16.044787,20.362299,60.854043,42.120575,1017.600490,1015.087272,3.864047,4.047118,18.851784,24.493833,13.740498
Penrith,12.537888,24.733782,2.176233,31.807330,6.345997,11.967938,75.822859,49.006518,NaN,NaN,NaN,NaN,16.952557,23.329386,12.196018
Perth,12.921769,25.037402,1.905144,34.882999,10.697302,14.516939,62.677572,46.906004,1017.778820,1015.412923,3.381984,3.467337,18.574122,23.463331,12.114120
PerthAirport,12.593723,25.541714,1.744988,44.201822,17.760297,21.283592,58.761390,41.927414,1017.851992,1015.332917,3.379264,3.451504,18.792845,24.092944,12.947992
Portland,9.586485,18.047209,2.528629,42.059852,16.316852,20.769179,78.741715,65.988855,1017.709622,1016.641734,6.340086,6.075295,13.189276,16.501621,8.458072
Richmond,11.333866,24.455586,2.130970,34.872290,7.016769,14.875299,76.874355,49.002065,1018.695907,1015.626298,6.249169,5.509499,16.551231,23.124692,13.112857
Sale,8.595363,20.321583,1.523612,42.479777,14.335311,22.307853,78.699895,56.201893,1017.723214,1015.801296,5.329070,5.081528,13.464759,18.818940,11.726220
SalmonGums,9.376693,24.288645,1.037027,39.748372,16.293269,17.314452,62.845520,40.778922,NaN,NaN,NaN,NaN,17.080398,22.708857,14.923624
Sydney,15.062213,23.292758,3.477445,41.757589,15.265740,19.739809,67.602704,54.291630,1018.302441,1015.980697,4.233523,4.184912,18.065421,21.748349,8.230542
SydneyAirport,14.893845,23.394050,2.984631,47.234280,18.559689,25.773081,64.735453,53.872376,1018.394002,1015.995533,4.279282,4.276200,18.550085,21.785188,8.498783
Townsville,20.412931,29.361485,3.455083,38.840570,15.233831,24.259529,63.931720,57.387140,1015.166788,1011.906563,4.290628,4.008727,25.632847,27.765462,8.949702
Tuggeranong,7.235581,20.771295,2.165203,35.215883,7.641560,14.882590,72.797447,47.124916,1018.525386,1015.670338,NaN,NaN,12.571045,19.438480,13.538731
Uluru,14.399533,30.389633,0.714555,41.268373,17.610928,16.986868,42.254785,23.838477,1017.145855,1013.345502,5.567568,4.832911,20.996568,29.071832,16.021281
WaggaWagga,9.628212,23.046863,1.711737,36.648105,12.881248,16.207648,67.833781,42.575310,1018.490876,1015.837538,3.857505,4.191952,14.940054,21.766152,13.418651
Walpole,11.837917,20.491127,2.865308,39.829640,13.924143,17.231809,76.170766,66.325710,1017.869830,1016.228933,NaN,NaN,15.944822,18.591719,8.660202
Watsonia,10.115729,20.858445,1.842159,38.059219,9.922585,15.199260,78.364435,54.779946,1018.057523,1016.112483,5.246972,5.266577,13.748276,19.363694,10.739744
Williamtown,12.774443,23.985346,3.621076,41.681518,16.419861,22.242688,71.920153,54.057511,1018.477119,1015.989892,4.711505,4.493398,18.068780,22.475279,11.210689
Witchcliffe,10.786932,21.685407,2.910366,40.083025,13.959946,19.168124,71.386637,57.826103,1018.385302,1016.727340,NaN,NaN,16.550151,19.806052,10.895081
Wollongong,14.919289,21.445166,3.611757,45.690842,16.637222,21.960685,67.649158,65.139832,1018.152821,1016.063471,6.219880,5.857854,18.173266,19.915692,6.521872
Woomera,13.410819,26.639327,0.496816,44.156566,20.098720,20.707786,53.012175,28.356876,1018.568959,1015.908570,2.528891,2.897103,17.974806,25.244879,13.222076