## Data Manipulation module
### Homework assignment 2
Welcome to the second homework assignment of the data manipulation module. In this assignment you will be working with Pandas DataFrames. The goal of this assignment is to get you familiar with such dataframes in Python.

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE` or `YOUR ANSWER HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 25-01 23:59**.

In [1]:
import pandas as pd
import numpy as np

Download the `weatherAUS.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [6]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

1. Use the describe function to gain insight in the attributes of the dataframe. Analyze the info and create a short write-up according to your findings.

In [170]:
df.describe(include='all')

C:\Users\ghass\AppData\Local\Temp\ipykernel_5852\2884002236.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all')

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,tempdiff
count,135134,135134,134396.000000,134572.000000,132474.000000,135134,135134.000000,127519,134164,134791.000000,...,132759.000000,124354.000000,124395.000000,81552.000000,79492.000000,134045.000000,133587.000000,132474,132863,134336.000000
unique,3434,47,NaN,NaN,NaN,16,NaN,16,16,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,NaN
top,2013-12-08 00:00:00,Perth,NaN,NaN,NaN,W,NaN,N,W,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NoRain,NoRain,NaN
freq,47,3188,NaN,NaN,NaN,9915,NaN,11256,9680,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103126,103453,NaN
first,2007-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2017-06-25 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,12.144036,23.287516,2.329065,NaN,40.035106,NaN,NaN,14.228932,...,51.120813,1017.628408,1015.220109,4.437083,4.510139,16.985706,21.741268,NaN,NaN,11.145525
std,NaN,NaN,6.462347,7.201843,8.402218,NaN,13.607080,NaN,NaN,8.792967,...,20.866908,7.100802,7.030968,2.888186,2.722881,6.565138,7.007074,NaN,NaN,4.965668
min,NaN,NaN,-8.500000,-4.800000,0.000000,NaN,6.000000,NaN,NaN,0.000000,...,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,NaN,NaN,0.000000
25%,NaN,NaN,7.500000,17.900000,0.000000,NaN,31.000000,NaN,NaN,7.000000,...,36.000000,1012.900000,1010.400000,1.000000,2.000000,12.200000,16.600000,NaN,NaN,7.300000
50%,NaN,NaN,11.900000,22.800000,0.000000,NaN,39.000000,NaN,NaN,13.000000,...,51.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.200000,NaN,NaN,10.600000
75%,NaN,NaN,16.800000,28.400000,0.600000,NaN,48.000000,NaN,NaN,20.000000,...,65.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.600000,NaN,NaN,14.600000
max,NaN,NaN,33.900000,48.100000,367.600000,NaN,135.000000,NaN,NaN,87.000000,...,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,NaN,NaN,31.200000

YOUR ANSWER HERE

2. Find the shape and the size of the dataset

In [12]:
print(df.shape)
print(df.size)

(145460, 23)
3345580

3. Find the types of all columns and save the result as a dataframe with the column names as index. Call the column with the types 'dtypes'.

In [16]:
print(df.dtypes)
dtypes_df = pd.DataFrame(df.dtypes, columns=["dtype"])
print(dtypes_df)

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object
                 dtype
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

4. Find the non-null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the non-null counts 'counts'.

In [42]:
x = df.describe(include='all')
new_df = x.loc['count']
non_null_df = pd.DataFrame(new_df, columns=['count'])
non_null_df

                  count
Date             145460
Location         145460
MinTemp        143975.0
MaxTemp        144199.0
Rainfall       142199.0
Evaporation     82670.0
Sunshine        75625.0
WindGustDir      135134
WindGustSpeed  135197.0
WindDir9am       134894
WindDir3pm       141232
WindSpeed9am   143693.0
WindSpeed3pm   142398.0
Humidity9am    142806.0
Humidity3pm    140953.0
Pressure9am    130395.0
Pressure3pm    130432.0
Cloud9am        89572.0
Cloud3pm        86102.0
Temp9am        143693.0
Temp3pm        141851.0
RainToday        142199
RainTomorrow     142193

5. Find the null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the null counts 'null-counts'.

In [36]:
null_df = pd.DataFrame(df.isna().sum(), columns=["null-counts"])
null_df

               null-counts
Date                     0
Location                 0
MinTemp               1485
MaxTemp               1261
Rainfall              3261
Evaporation          62790
Sunshine             69835
WindGustDir          10326
WindGustSpeed        10263
WindDir9am           10566
WindDir3pm            4228
WindSpeed9am          1767
WindSpeed3pm          3062
Humidity9am           2654
Humidity3pm           4507
Pressure9am          15065
Pressure3pm          15028
Cloud9am             55888
Cloud3pm             59358
Temp9am               1767
Temp3pm               3609
RainToday             3261
RainTomorrow          3267

6. Find the number of unique values of all columns and save the result as a dataframe with the column names as index. Call the column with the unique counts 'unique-counts'.

In [35]:
unique_df = pd.DataFrame(df.nunique(), columns=["unique-counts"])
unique_df

               unique-counts
Date                    3436
Location                  49
MinTemp                  389
MaxTemp                  505
Rainfall                 681
Evaporation              358
Sunshine                 145
WindGustDir               16
WindGustSpeed             67
WindDir9am                16
WindDir3pm                16
WindSpeed9am              43
WindSpeed3pm              44
Humidity9am              101
Humidity3pm              101
Pressure9am              546
Pressure3pm              549
Cloud9am                  10
Cloud3pm                  10
Temp9am                  441
Temp3pm                  502
RainToday                  2
RainTomorrow               2

7. Merge the dataframes you created exercise 3, 4, 5 and 6 into one dataframe with the column names as index and the columns 'dtypes', 'counts', 'null-counts' and 'unique-counts'.

In [43]:
combined = pd.concat([dtypes_df,non_null_df, null_df, unique_df], axis=1)
combined

                 dtype     count  null-counts  unique-counts
Date            object    145460            0           3436
Location        object    145460            0             49
MinTemp        float64  143975.0         1485            389
MaxTemp        float64  144199.0         1261            505
Rainfall       float64  142199.0         3261            681
Evaporation    float64   82670.0        62790            358
Sunshine       float64   75625.0        69835            145
WindGustDir     object    135134        10326             16
WindGustSpeed  float64  135197.0        10263             67
WindDir9am      object    134894        10566             16
WindDir3pm      object    141232         4228             16
WindSpeed9am   float64  143693.0         1767             43
WindSpeed3pm   float64  142398.0         3062             44
Humidity9am    float64  142806.0         2654            101
Humidity3pm    float64  140953.0         4507            101
Pressure9am    float64  130395.0        15065            546
Pressure3pm    float64  130432.0        15028            549
Cloud9am       float64   89572.0        55888             10
Cloud3pm       float64   86102.0        59358             10
Temp9am        float64  143693.0         1767            441
Temp3pm        float64  141851.0         3609            502
RainToday       object    142199         3261              2
RainTomorrow    object    142193         3267              2

8. Lowercase all column names of the dataframe.

In [75]:
df.columns = df.columns.str.lower()
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN

9. Change all the "No" strings to "NoRain" and all the "Yes" strings to "Rain" in the raintoday and raintomorrow column.

In [76]:
df['raintoday'].replace('No','NoRain', inplace= True)
df['raintoday'].replace('Yes','Rain', inplace= True)
df['raintomorrow'].replace('No','NoRain', inplace= True)
df['raintomorrow'].replace('Yes','Rain', inplace= True)
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN

10. Change the datatype of the "date" column to datetime64 and reformat the date as DD/MM/YYYY.
Hint: use `to_datetime` and `strftime`.

In [169]:
df['date']= pd.to_datetime(df['date'])
df.dtypes

date             datetime64[ns]
location                 object
mintemp                 float64
maxtemp                 float64
rainfall                float64
windgustdir              object
windgustspeed           float64
winddir9am               object
winddir3pm               object
windspeed9am            float64
windspeed3pm            float64
humidity9am             float64
humidity3pm             float64
pressure9am             float64
pressure3pm             float64
cloud9am                float64
cloud3pm                float64
temp9am                 float64
temp3pm                 float64
raintoday                object
raintomorrow             object
tempdiff                float64
dtype: object

11. Create a new column with the difference between the maxtemp and mintemp columns for each row. Call this column tempdiff.

In [78]:

df['tempdiff'] = (df['maxtemp']- df['mintemp'])
df

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

12. Remove the evaporation and sunshine columns from the dataframe.

In [80]:
df.drop(columns=['evaporation','sunshine'], inplace= True)
df

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

13. Find the most rainy day for each city

In [126]:
df.groupby(['location', ])[['rainfall','date']].max()

                  rainfall        date
location
Adelaide              75.2  2017-06-24
Albury               104.2  2017-06-25
AliceSprings          62.0  2017-06-24
BadgerysCreek        116.0  2017-06-25
Ballarat              70.4  2017-06-25
Bendigo               66.4  2017-06-25
Brisbane             182.6  2017-06-25
Cairns               278.4  2017-06-25
Canberra              87.0  2017-06-25
Cobar                 68.0  2017-06-25
CoffsHarbour         219.6  2017-06-25
Dartmoor              73.6  2017-06-25
Darwin               367.6  2017-06-24
GoldCoast            183.4  2017-06-25
Hobart                71.6  2017-06-25
Katherine            167.0  2017-06-24
Launceston            88.0  2017-06-25
Melbourne             82.2  2017-06-25
MelbourneAirport      75.8  2017-06-25
Mildura              155.0  2017-06-25
Moree                113.0  2017-06-25
MountGambier          84.6  2017-06-24
MountGinini          107.6  2017-06-25
Nhil                  65.6  2017-06-25
NorahHead            126.4  2017-06-25
NorfolkIsland        156.8  2017-06-25
Nuriootpa             76.6  2017-06-24
PearceRAAF            62.4  2017-06-25
Penrith              115.4  2017-06-25
Perth                114.4  2017-06-25
PerthAirport          76.6  2017-06-25
Portland              72.0  2017-06-25
Richmond             113.4  2017-06-25
Sale                  55.6  2017-04-26
SalmonGums            55.4  2017-06-25
Sydney               119.4  2017-06-25
SydneyAirport        106.8  2017-06-25
Townsville           236.8  2017-06-25
Tuggeranong           93.0  2017-06-25
Uluru                 83.8  2017-06-24
WaggaWagga           110.8  2017-06-25
Walpole               93.2  2017-06-25
Watsonia              87.4  2017-06-25
Williamtown          225.0  2017-06-25
Witchcliffe           99.4  2017-06-25
Wollongong           192.0  2017-06-25
Woomera               66.4  2017-06-24

14. Filter out all data for the city Albury and then sort the resulting dataframe in ascending order based on the maxtemp column

In [154]:
x = df.set_index('location')
new= x.loc['Albury']
new.sort_values('maxtemp')

,date,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,windspeed3pm,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,tempdiff
location,,,,,,,,,,,,,,,,,,,,,
Albury,2015-07-15,4.4,6.8,10.0,NE,30.0,S,SSE,13.0,11.0,...,93.0,1016.6,1017.1,8.0,8.0,4.7,6.4,Rain,Rain,2.4
Albury,2016-06-26,-1.3,7.5,0.0,ENE,15.0,NaN,SE,0.0,4.0,...,79.0,1023.4,1019.0,8.0,NaN,2.3,7.4,NoRain,NoRain,8.8
Albury,2009-06-12,-1.3,8.2,0.0,ESE,15.0,E,SSE,6.0,6.0,...,72.0,1025.7,1022.2,8.0,7.0,1.9,7.9,NoRain,NoRain,9.5
Albury,2016-06-24,6.6,8.2,4.0,W,48.0,WNW,W,28.0,26.0,...,85.0,1004.8,1007.6,8.0,6.0,7.0,7.5,Rain,Rain,1.6
Albury,2010-06-28,-0.6,8.3,0.0,NNW,52.0,SE,WSW,7.0,9.0,...,70.0,1022.7,1020.3,8.0,7.0,2.3,8.2,NoRain,NoRain,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Albury,2009-02-01,28.0,43.1,0.0,SW,83.0,SE,E,15.0,9.0,...,9.0,1012.5,1008.7,NaN,NaN,32.4,41.9,NoRain,NoRain,15.1
Albury,2013-01-05,19.8,43.4,0.0,NW,81.0,S,ESE,7.0,11.0,...,17.0,1012.4,1009.8,NaN,1.0,30.7,42.4,NoRain,Rain,23.6
Albury,2014-01-16,23.0,43.6,0.0,N,35.0,E,SSW,9.0,13.0,...,12.0,1016.6,1012.2,NaN,NaN,31.8,41.7,NoRain,NoRain,20.6
Albury,2017-02-10,23.0,43.7,0.0,WSW,44.0,SSE,W,7.0,30.0,...,17.0,1009.9,1006.1,NaN,NaN,28.2,42.4,NoRain,NoRain,20.7
Albury,2009-02-07,22.3,44.8,0.0,NNW,59.0,SE,NW,9.0,33.0,...,11.0,1008.2,1003.8,NaN,NaN,29.6,43.4,NoRain,NoRain,22.5

15. Remove all rows with missing values in the windgustdir column

In [109]:
df.dropna(subset=['windgustdir'], inplace=True)
df.isna().sum()

date                 0
location             0
mintemp            738
maxtemp            562
rainfall          2660
windgustdir          0
windgustspeed        0
winddir9am        7615
winddir3pm         970
windspeed9am       343
windspeed3pm       281
humidity9am       1893
humidity3pm       2375
pressure9am      10780
pressure3pm      10739
cloud9am         53582
cloud3pm         55642
temp9am           1089
temp3pm           1547
raintoday         2660
raintomorrow      2271
tempdiff           798
dtype: int64

16. Find the hottest day of "Perth"

In [130]:
x= df.groupby(['location'])[['maxtemp', 'date']].max()
x.loc['Perth']

maxtemp          44.4
date       2017-06-25
Name: Perth, dtype: object

17. Group your dataframe by location and find the average of all numerical columns per location.

In [134]:
df.groupby(['location']).mean(numeric_only=True)

,mintemp,maxtemp,rainfall,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,tempdiff
location,,,,,,,,,,,,,,,
Adelaide,12.571487,22.891254,1.576076,36.499211,9.954804,15.470774,59.716182,44.866941,1018.758665,1016.798356,NaN,NaN,16.925284,21.552038,10.319766
Albury,9.518588,22.629555,1.904552,32.977394,8.209720,14.385358,74.101198,47.907912,1018.366190,1015.752959,6.393916,5.410148,14.347304,21.361802,13.113258
AliceSprings,13.155254,29.281325,0.869484,40.531281,14.754603,18.098092,39.542015,24.035846,1016.684639,1012.866812,2.838528,3.242597,21.365072,28.043254,16.128423
BadgerysCreek,11.135741,24.014949,2.215406,33.600409,8.053590,13.997940,76.932530,51.426309,1018.469363,1015.657849,NaN,NaN,16.567467,22.513928,12.876525
Ballarat,7.348670,18.267930,1.706369,44.982719,19.976024,22.770792,81.801338,59.051948,1017.872715,1016.289983,5.810219,6.282246,11.658253,16.772537,10.918152
Bendigo,8.611841,21.625609,1.631586,38.844948,12.945630,17.173173,70.579158,46.516011,1017.991296,1015.831417,4.418262,4.867384,13.850317,20.251734,13.009773
Brisbane,16.414204,26.436043,3.119424,28.212881,6.950508,10.993331,64.064762,53.917250,1018.252094,1015.119022,3.920025,3.886349,21.822317,24.734087,10.018130
Cairns,21.225099,29.559550,5.701852,38.026150,15.902649,21.907616,69.937086,61.751738,1014.152351,1011.098444,4.561036,4.441145,25.821921,27.911188,8.335563
Canberra,6.670100,20.731579,1.745920,40.071682,10.444228,19.082444,73.814206,46.445272,1019.003108,1016.256796,4.888889,4.802676,12.486515,19.246330,14.061479
Cobar,13.131412,25.853488,1.132655,36.750590,14.679717,15.143965,55.148317,33.881837,1017.994375,1015.327909,3.311223,3.861215,18.102632,24.517262,12.722076
CoffsHarbour,14.522998,23.971493,4.990985,39.227925,15.273139,21.186011,68.161815,62.380447,1018.245185,1015.847220,4.324651,4.500229,20.191770,22.372951,9.450322
Dartmoor,8.620518,19.696769,2.150272,38.898299,10.815458,17.949643,85.218739,62.439885,1018.003777,1016.512628,NaN,NaN,12.588632,18.181354,11.061622
Darwin,23.190022,32.538259,5.076454,40.579917,15.043561,20.848061,68.414812,51.699301,1011.911825,1008.365130,4.323268,4.296025,27.170321,31.087095,9.348236
GoldCoast,17.287324,25.713189,3.737301,42.476370,19.331962,25.831619,66.218213,62.824055,1017.981747,1015.278219,NaN,NaN,22.308973,23.712466,8.421213
Hobart,9.080883,17.858517,1.604739,47.530915,16.291167,19.818870,65.650316,52.974668,1014.507447,1012.941338,4.845771,4.963591,12.460271,16.166835,8.777634
Katherine,20.546272,34.915762,3.239856,38.771465,12.100129,15.783959,63.863358,42.824897,1012.786886,1008.483840,2.587417,3.199762,26.634195,33.551130,14.394619
Launceston,7.858822,18.983062,2.016483,35.625749,8.471547,15.555333,79.450732,57.240506,1015.647558,1013.722920,6.315716,5.719346,12.050266,17.709860,11.122877
Melbourne,11.770359,20.760489,1.874019,45.610255,19.091281,22.071721,67.577308,51.158990,1017.642868,1015.787500,5.311132,5.336386,14.580467,19.263822,8.992291
MelbourneAirport,9.962558,20.478958,1.456045,46.919172,20.244905,23.057114,70.139317,51.152429,1018.102071,1016.295090,5.246827,5.264952,14.110354,18.947027,10.516399
Mildura,10.738782,24.848202,0.945370,37.168775,14.000999,16.695305,64.088637,35.402000,1018.765133,1016.255929,3.384800,3.922996,15.536563,23.434266,14.109421
Moree,12.909625,26.975060,1.612936,39.889116,18.089170,16.832251,61.297916,35.663363,1018.329512,1014.943432,3.340373,3.961901,18.875708,25.678028,14.063720
MountGambier,8.820797,19.818882,2.078296,42.853030,17.496651,22.372194,75.525856,57.378986,1017.967861,1016.397587,5.518377,5.478668,13.777804,18.170476,10.999096
MountGinini,3.487122,11.506027,3.317951,46.253951,15.807078,14.979111,77.152479,70.062107,NaN,NaN,NaN,NaN,6.787454,10.086023,8.059164
Nhil,8.991959,22.394576,0.933973,42.542438,16.435227,20.960434,73.059349,44.942565,1018.537779,1016.393810,NaN,NaN,13.374091,20.863114,13.402616
NorahHead,15.346429,22.583152,3.388950,42.183051,13.866008,20.983657,74.592087,67.488079,1018.262377,1016.012033,NaN,NaN,18.463677,20.760368,7.236067
NorfolkIsland,16.868073,21.827935,3.132717,42.601889,20.171119,21.871414,70.779655,67.832265,1017.626928,1015.886703,5.025508,4.849725,19.777492,20.471178,4.961323
Nuriootpa,9.404508,21.751250,1.380203,40.681081,14.239513,18.161072,66.731707,45.364530,1018.870118,1016.746479,4.682299,4.875965,14.886270,20.358917,12.363729
PearceRAAF,12.295443,26.052760,1.691525,43.579958,16.044787,20.362299,60.854043,42.120575,1017.600490,1015.087272,3.864047,4.047118,18.851784,24.493833,13.740498
Penrith,12.537888,24.733782,2.176233,31.807330,6.345997,11.967938,75.822859,49.006518,NaN,NaN,NaN,NaN,16.952557,23.329386,12.196018
Perth,12.921769,25.037402,1.905144,34.882999,10.697302,14.516939,62.677572,46.906004,1017.778820,1015.412923,3.381984,3.467337,18.574122,23.463331,12.114120
PerthAirport,12.593723,25.541714,1.744988,44.201822,17.760297,21.283592,58.761390,41.927414,1017.851992,1015.332917,3.379264,3.451504,18.792845,24.092944,12.947992
Portland,9.586485,18.047209,2.528629,42.059852,16.316852,20.769179,78.741715,65.988855,1017.709622,1016.641734,6.340086,6.075295,13.189276,16.501621,8.458072
Richmond,11.333866,24.455586,2.130970,34.872290,7.016769,14.875299,76.874355,49.002065,1018.695907,1015.626298,6.249169,5.509499,16.551231,23.124692,13.112857
Sale,8.595363,20.321583,1.523612,42.479777,14.335311,22.307853,78.699895,56.201893,1017.723214,1015.801296,5.329070,5.081528,13.464759,18.818940,11.726220
SalmonGums,9.376693,24.288645,1.037027,39.748372,16.293269,17.314452,62.845520,40.778922,NaN,NaN,NaN,NaN,17.080398,22.708857,14.923624
Sydney,15.062213,23.292758,3.477445,41.757589,15.265740,19.739809,67.602704,54.291630,1018.302441,1015.980697,4.233523,4.184912,18.065421,21.748349,8.230542
SydneyAirport,14.893845,23.394050,2.984631,47.234280,18.559689,25.773081,64.735453,53.872376,1018.394002,1015.995533,4.279282,4.276200,18.550085,21.785188,8.498783
Townsville,20.412931,29.361485,3.455083,38.840570,15.233831,24.259529,63.931720,57.387140,1015.166788,1011.906563,4.290628,4.008727,25.632847,27.765462,8.949702
Tuggeranong,7.235581,20.771295,2.165203,35.215883,7.641560,14.882590,72.797447,47.124916,1018.525386,1015.670338,NaN,NaN,12.571045,19.438480,13.538731
Uluru,14.399533,30.389633,0.714555,41.268373,17.610928,16.986868,42.254785,23.838477,1017.145855,1013.345502,5.567568,4.832911,20.996568,29.071832,16.021281
WaggaWagga,9.628212,23.046863,1.711737,36.648105,12.881248,16.207648,67.833781,42.575310,1018.490876,1015.837538,3.857505,4.191952,14.940054,21.766152,13.418651
Walpole,11.837917,20.491127,2.865308,39.829640,13.924143,17.231809,76.170766,66.325710,1017.869830,1016.228933,NaN,NaN,15.944822,18.591719,8.660202
Watsonia,10.115729,20.858445,1.842159,38.059219,9.922585,15.199260,78.364435,54.779946,1018.057523,1016.112483,5.246972,5.266577,13.748276,19.363694,10.739744
Williamtown,12.774443,23.985346,3.621076,41.681518,16.419861,22.242688,71.920153,54.057511,1018.477119,1015.989892,4.711505,4.493398,18.068780,22.475279,11.210689
Witchcliffe,10.786932,21.685407,2.910366,40.083025,13.959946,19.168124,71.386637,57.826103,1018.385302,1016.727340,NaN,NaN,16.550151,19.806052,10.895081
Wollongong,14.919289,21.445166,3.611757,45.690842,16.637222,21.960685,67.649158,65.139832,1018.152821,1016.063471,6.219880,5.857854,18.173266,19.915692,6.521872
Woomera,13.410819,26.639327,0.496816,44.156566,20.098720,20.707786,53.012175,28.356876,1018.568959,1015.908570,2.528891,2.897103,17.974806,25.244879,13.222076