## Data Manipulation module
### Homework assignment 2
Welcome to the second homework assignment of the data manipulation module. In this assignment you will be working with Pandas DataFrames. The goal of this assignment is to get you familiar with such dataframes in Python.

### Instructions
Read the exercises carefully and implement the requested functionality. Add your code in the cells provided with `YOUR CODE HERE` or `YOUR ANSWER HERE`. You can add cells if you need to.

### Hand-in
To hand in your assignment, fork this notebook and commit your changes, then make a pull request to the original repository. The deadline for handing in the assignment is **Wednesday 25-01 23:59**.

In [1]:
import pandas as pd
import numpy as np

Download the `weatherAUS.csv` file from the following [kaggle page](https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package). We load it in in the following cell, make sure to set the correct path. The rest of the assignment you will be using this dataframe!

In [143]:
df = pd.read_csv('weatherAUS.csv')
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

1. Use the describe function to gain insight in the attributes of the dataframe. Analyze the info and create a short write-up according to your findings.

In [6]:
# YOUR CODE HERE
df1 = df.describe()
df1

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

YOUR ANSWER HERE

2. Find the shape and the size of the dataset

In [14]:
# YOUR CODE HERE
shape_df = df.shape
print(shape_df)
#################
size_df = df.size
print('\n', size_df)

(145460, 23)

 3345580

3. Find the types of all columns and save the result as a dataframe with the column names as index. Call the column with the types 'dtypes'.

In [31]:
# YOUR CODE HERE
dtype_series = df.dtypes
df_dtype = pd.DataFrame(dtype_series, columns = ['dtypes'])
df_dtype

                dtypes
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

4. Find the non-null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the non-null counts 'counts'.

In [51]:
# YOUR CODE HERE
non_null = df.notnull().sum()
df_non_null = pd.DataFrame(non_null, columns = ['counts'])
df_non_null

               counts
Date           145460
Location       145460
MinTemp        143975
MaxTemp        144199
Rainfall       142199
Evaporation     82670
Sunshine        75625
WindGustDir    135134
WindGustSpeed  135197
WindDir9am     134894
WindDir3pm     141232
WindSpeed9am   143693
WindSpeed3pm   142398
Humidity9am    142806
Humidity3pm    140953
Pressure9am    130395
Pressure3pm    130432
Cloud9am        89572
Cloud3pm        86102
Temp9am        143693
Temp3pm        141851
RainToday      142199
RainTomorrow   142193

5. Find the null counts of all columns and save the result as a dataframe with the column names as index. Call the column with the null counts 'null-counts'.

In [49]:
# YOUR CODE HERE
null_counts = df.isnull().sum()
df_null_counts = pd.DataFrame(null_counts, columns= ['nul-counts'])
df_null_counts

               nul-counts
Date                    0
Location                0
MinTemp              1485
MaxTemp              1261
Rainfall             3261
Evaporation         62790
Sunshine            69835
WindGustDir         10326
WindGustSpeed       10263
WindDir9am          10566
WindDir3pm           4228
WindSpeed9am         1767
WindSpeed3pm         3062
Humidity9am          2654
Humidity3pm          4507
Pressure9am         15065
Pressure3pm         15028
Cloud9am            55888
Cloud3pm            59358
Temp9am              1767
Temp3pm              3609
RainToday            3261
RainTomorrow         3267

6. Find the number of unique values of all columns and save the result as a dataframe with the column names as index. Call the column with the unique counts 'unique-counts'.

In [53]:
# YOUR CODE HERE
unq_values = df.nunique(axis=0)
df_unq_values = pd.DataFrame(unq_values, columns=['unique-counts'])
df_unq_values

               unique-counts
Date                    3436
Location                  49
MinTemp                  389
MaxTemp                  505
Rainfall                 681
Evaporation              358
Sunshine                 145
WindGustDir               16
WindGustSpeed             67
WindDir9am                16
WindDir3pm                16
WindSpeed9am              43
WindSpeed3pm              44
Humidity9am              101
Humidity3pm              101
Pressure9am              546
Pressure3pm              549
Cloud9am                  10
Cloud3pm                  10
Temp9am                  441
Temp3pm                  502
RainToday                  2
RainTomorrow               2

7. Merge the dataframes you created exercise 3, 4, 5 and 6 into one dataframe with the column names as index and the columns 'dtypes', 'counts', 'null-counts' and 'unique-counts'.

In [54]:
# YOUR CODE HERE
merged = pd.concat([df_unq_values, df_null_counts, df_non_null, df_dtype])
merged

              unique-counts  nul-counts  counts   dtypes
Date                 3436.0         NaN     NaN      NaN
Location               49.0         NaN     NaN      NaN
MinTemp               389.0         NaN     NaN      NaN
MaxTemp               505.0         NaN     NaN      NaN
Rainfall              681.0         NaN     NaN      NaN
...                     ...         ...     ...      ...
Cloud3pm                NaN         NaN     NaN  float64
Temp9am                 NaN         NaN     NaN  float64
Temp3pm                 NaN         NaN     NaN  float64
RainToday               NaN         NaN     NaN   object
RainTomorrow            NaN         NaN     NaN   object

[92 rows x 4 columns]

8. Lowercase all column names of the dataframe.

In [55]:
# YOUR CODE HERE
df_new_version = df.columns.str.lower()
df_new_version

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

9. Change all the "No" strings to "NoRain" and all the "Yes" strings to "Rain" in the raintoday and raintomorrow column.

In [58]:
# YOUR CODE HERE
new_strings1 = df.replace('No', 'NoRain')
new_strings2 = df.replace('Yes', 'Rain')
print(new_strings1, new_strings2)

              Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
0            NaN           W           44.0          W  ...        71.0
1            NaN         WNW           44.0        NNW  ...        44.0
2            NaN         WSW           46.0          W  ...        38.0
3            NaN          NE           24.0         SE  ...        45.0
4            NaN           W           41.0        ENE  ...        82.0
...          ...         ...            ...        ...  ...         ...
145455       NaN           E           31.0         SE  ...        51.0
145456       NaN         NNW           22.0         SE  ...        56.0
145457       NaN           N           37.0         SE  ...        53.0
145458       NaN          SE           28.0        SSE  ...        51.0
145459       NaN         NaN            NaN        ESE  ...        62.0

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
0              22.0       1007.7       1007.1       8.0       NaN     16.9
1              25.0       1010.6       1007.8       NaN       NaN     17.2
2              30.0       1007.6       1008.7       NaN       2.0     21.0
3              16.0       1017.6       1012.8       NaN       NaN     18.1
4              33.0       1010.8       1006.0       7.0       8.0     17.8
...             ...          ...          ...       ...       ...      ...
145455         24.0       1024.6       1020.3       NaN       NaN     10.1
145456         21.0       1023.5       1019.1       NaN       NaN     10.9
145457         24.0       1021.0       1016.8       NaN       NaN     12.5
145458         24.0       1019.4       1016.5       3.0       2.0     15.1
145459         36.0       1020.2       1017.9       8.0       8.0     15.0

        Temp3pm  RainToday  RainTomorrow
0          21.8     NoRain        NoRain
1          24.3     NoRain        NoRain
2          23.2     NoRain        NoRain
3          26.5     NoRain        NoRain
4          29.7     NoRain        NoRain
...         ...        ...           ...
145455     22.4     NoRain        NoRain
145456     24.5     NoRain        NoRain
145457     26.1     NoRain        NoRain
145458     26.0     NoRain        NoRain
145459     20.9     NoRain           NaN

[145460 rows x 23 columns]               Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
0       2008-12-01   Albury     13.4     22.9       0.6          NaN
1       2008-12-02   Albury      7.4     25.1       0.0          NaN
2       2008-12-03   Albury     12.9     25.7       0.0          NaN
3       2008-12-04   Albury      9.2     28.0       0.0          NaN
4       2008-12-05   Albury     17.5     32.3       1.0          NaN
...            ...      ...      ...      ...       ...          ...
145455  2017-06-21    Uluru      2.8     23.4       0.0          NaN
145456  2017-06-22    Uluru      3.6     25.3       0.0          NaN
145457  2017-06-23    Uluru      5.4     26.9       0.0          NaN
145458  2017-06-24    Uluru      7.8     27.0       0.0          NaN
145459  2017-06-25    Uluru     14.9      NaN       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity9am  \
0            NaN           W           44.0          W  ...        71.0
1            NaN         WNW           44.0        NNW  ...        44.0
2            NaN         WSW           46.0          W  ...        38.0
3            NaN          NE           24.0         SE  ...        45.0
4            NaN           W           41.0        ENE  ...        82.0
...          ...         ...            ...        ...  ...         ...
145455       NaN           E           31.0         SE  ...        51.0
145456       NaN         NNW           22.0         SE  ...        56.0
145457       NaN           N           37.0         SE  ...        53.0
145458       NaN          SE           28.0        SSE  ...        51.0
145459       NaN         NaN            NaN        ESE  ...        62.0

        Humidity3pm  Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  \
0              22.0       1007.7       1007.1       8.0       NaN     16.9
1              25.0       1010.6       1007.8       NaN       NaN     17.2
2              30.0       1007.6       1008.7       NaN       2.0     21.0
3              16.0       1017.6       1012.8       NaN       NaN     18.1
4              33.0       1010.8       1006.0       7.0       8.0     17.8
...             ...          ...          ...       ...       ...      ...
145455         24.0       1024.6       1020.3       NaN       NaN     10.1
145456         21.0       1023.5       1019.1       NaN       NaN     10.9
145457         24.0       1021.0       1016.8       NaN       NaN     12.5
145458         24.0       1019.4       1016.5       3.0       2.0     15.1
145459         36.0       1020.2       1017.9       8.0       8.0     15.0

        Temp3pm  RainToday  RainTomorrow
0          21.8         No            No
1          24.3         No            No
2          23.2         No            No
3          26.5         No            No
4          29.7         No            No
...         ...        ...           ...
145455     22.4         No            No
145456     24.5         No            No
145457     26.1         No            No
145458     26.0         No            No
145459     20.9         No           NaN

[145460 rows x 23 columns]

10. Change the datatype of the "date" column to datetime64 and reformat the date as DD/MM/YYYY.
Hint: use `to_datetime` and `strftime`.

In [118]:
# YOUR CODE HERE
#I am working on it.

11. Create a new column with the difference between the maxtemp and mintemp columns for each row. Call this column tempdiff.

In [70]:
# YOUR CODE HERE
difference = df['MaxTemp']-df['MinTemp'] 
df['Tempdiff'] = difference
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,NaN

12. Remove the evaporation and sunshine columns from the dataframe.

In [74]:
# YOUR CODE HERE
remove = df.drop(['Evaporation', 'Sunshine'], axis=1)
remove

,Date,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Tempdiff
0,2008-12-01,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No,9.5
1,2008-12-02,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No,17.7
2,2008-12-03,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No,12.8
3,2008-12-04,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No,18.8
4,2008-12-05,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No,20.6
145456,2017-06-22,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No,21.7
145457,2017-06-23,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No,21.5
145458,2017-06-24,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No,19.2
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN,NaN

13. Find the most rainy day for each city

In [147]:
# YOUR CODE HERE
#I am working on it.

14. Filter out all data for the city Albury and then sort the resulting dataframe in ascending order based on the maxtemp column

In [140]:
# YOUR CODE HERE
index = df.set_index("Location", inplace= True)
result = df.loc["Albury"].sort_values(by = 'MaxTemp', ascending= True)
result

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
Location,,,,,,,,,,,,,,,,,,,,,
Albury,2015-07-15,4.4,6.8,10.0,NaN,NaN,NE,30.0,S,SSE,...,96.0,93.0,1016.6,1017.1,8.0,8.0,4.7,6.4,Yes,Yes
Albury,2016-06-26,-1.3,7.5,0.0,NaN,NaN,ENE,15.0,NaN,SE,...,99.0,79.0,1023.4,1019.0,8.0,NaN,2.3,7.4,No,No
Albury,2009-06-12,-1.3,8.2,0.0,NaN,NaN,ESE,15.0,E,SSE,...,99.0,72.0,1025.7,1022.2,8.0,7.0,1.9,7.9,No,No
Albury,2016-06-24,6.6,8.2,4.0,NaN,NaN,W,48.0,WNW,W,...,87.0,85.0,1004.8,1007.6,8.0,6.0,7.0,7.5,Yes,Yes
Albury,2011-07-08,-0.5,8.3,0.0,NaN,NaN,WNW,28.0,NaN,W,...,93.0,64.0,1026.0,1024.7,NaN,8.0,4.3,8.0,No,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Albury,2011-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albury,2011-09-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albury,2013-05-07,3.9,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,72.0,NaN,1028.6,NaN,NaN,NaN,9.8,NaN,No,NaN
Albury,2014-09-21,3.4,NaN,0.0,NaN,NaN,NaN,NaN,ESE,SSE,...,67.0,43.0,1030.6,1027.5,NaN,NaN,12.2,18.6,No,NaN
Albury,2014-09-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

15. Remove all rows with missing values in the windgustdir column

In [93]:
# YOUR CODE HERE
df_missing = df.dropna()
df_missing

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,Tempdiff
6049,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No,17.3
6050,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No,10.5
6052,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No,18.2
6053,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No,16.5
6054,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No,16.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,32.0,1013.9,1010.5,0.0,1.0,24.5,32.3,No,No,14.1
142299,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,28.0,1014.6,1011.2,7.0,0.0,24.8,32.0,No,No,11.4
142300,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,23.0,1015.3,1011.8,0.0,0.0,24.8,32.1,No,No,12.1
142301,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,58.0,1014.9,1010.7,1.0,1.0,24.8,29.2,No,No,12.3
142302,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,32.0,1013.9,1009.7,6.0,5.0,25.4,31.0,No,No,11.5

16. Find the hottest day of "Perth"

In [146]:
# YOUR CODE HERE
#I am working on it.

17. Group your dataframe by location and find the average of all numerical columns per location.

In [98]:
# YOUR CODE HERE
group_df = df.groupby(['Location']).mean(numeric_only=True)
group_df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,Tempdiff
Location,,,,,,,,,,,,,,,,,
Adelaide,12.579505,22.898934,1.566354,5.770364,7.747993,36.499211,9.950125,15.471455,59.701066,44.828105,1018.764082,1016.803264,NaN,NaN,16.929046,21.557447,10.319599
Albany,12.948438,20.070998,2.263859,4.213345,6.657460,NaN,12.503189,18.993498,74.805416,67.407917,1018.275721,1016.497280,5.191539,4.808072,16.236455,18.411555,7.087363
Albury,9.530604,22.640872,1.914115,NaN,NaN,32.977394,8.211151,14.382965,74.070604,47.869393,1018.369621,1015.760752,6.391001,5.406447,14.361135,21.373780,13.112082
AliceSprings,13.142284,29.248420,0.882850,9.026832,9.581944,40.531281,14.727452,18.101053,39.690155,24.131466,1016.684732,1012.871913,2.845898,3.251213,21.335658,28.010764,16.107277
BadgerysCreek,11.131719,24.031208,2.193101,NaN,NaN,33.600409,8.051351,14.005404,76.895770,51.381855,1018.461598,1015.635120,NaN,NaN,16.571698,22.522698,12.892686
Ballarat,7.367950,18.287266,1.740026,NaN,NaN,44.982719,19.976913,22.766798,81.817820,59.030992,1017.845093,1016.271201,5.797915,6.285643,11.672457,16.788365,10.916294
Bendigo,8.593713,21.621746,1.619380,3.851730,NaN,38.850000,12.936100,17.159091,70.545664,46.474325,1018.026281,1015.873135,4.400097,4.855379,13.845275,20.249737,13.024687
Brisbane,16.423807,26.448380,3.144891,5.407940,8.081170,28.212881,6.944236,10.998744,64.043587,53.912209,1018.232989,1015.099278,3.918546,3.879975,21.841173,24.753461,10.023518
Cairns,21.220467,29.558849,5.742035,6.256891,7.571451,38.031436,15.902929,21.911813,69.936821,61.751645,1014.151333,1011.099441,4.560184,4.445196,25.820105,27.909112,8.339487
Canberra,6.821866,20.976639,1.741720,4.399672,7.402038,40.064214,10.407546,19.127918,73.218500,45.825350,1018.986480,1016.236299,4.870981,4.784630,12.677297,19.472878,14.139061
Cobar,13.149451,25.870093,1.127309,6.744861,8.674364,36.750590,14.655749,15.144478,55.152913,33.870666,1017.971937,1015.304325,3.303918,3.859682,18.119160,24.545203,12.728039
CoffsHarbour,14.437108,23.965385,5.061497,3.905154,7.358367,39.227925,15.280870,21.201916,67.938127,62.351858,1018.215308,1015.829292,4.326958,4.501121,20.170942,22.343873,9.532307
Dartmoor,8.620034,19.697454,2.146567,3.424808,6.502065,38.898299,10.822970,17.946010,85.217907,62.456537,1018.002479,1016.509885,NaN,NaN,12.588893,18.182139,11.062823
Darwin,23.209305,32.540977,5.092452,6.318668,8.499310,40.582355,15.009088,20.831401,68.486216,51.827954,1011.888784,1008.349107,4.337093,4.310345,27.185625,31.082733,9.331087
GoldCoast,17.363286,25.767062,3.769396,NaN,NaN,42.476370,19.349667,25.861416,66.327495,62.980515,1017.922113,1015.214643,NaN,NaN,22.375847,23.771603,8.405741
Hobart,9.078578,17.865727,1.601819,3.601538,6.580151,47.530915,16.307861,19.813225,65.622055,52.944654,1014.531297,1012.961873,4.839901,4.959012,12.462406,16.172955,8.786466
Katherine,20.553564,34.935436,3.201090,7.327003,NaN,38.771465,12.134432,15.772901,63.790247,42.761456,1012.791122,1008.486078,2.579701,3.186183,26.649544,33.546604,14.405819
Launceston,7.836190,18.954911,2.011988,6.166667,NaN,35.634852,8.447117,15.562892,79.500000,57.322442,1015.679279,1013.754213,6.306207,5.718329,12.026269,17.687294,11.117360
Melbourne,11.779174,20.769358,1.870062,4.650282,6.385307,45.610255,19.128800,22.097401,67.545555,51.180710,1017.634427,1015.778450,5.314034,5.336368,14.596091,19.264489,8.992330
MelbourneAirport,9.973945,20.491858,1.451977,4.644378,6.381283,46.919172,20.278923,23.081422,70.115961,51.171333,1018.087670,1016.279096,5.246261,5.263298,14.124925,18.952077,10.517913
Mildura,10.731572,24.840944,0.945062,5.936757,8.468533,37.168775,14.001663,16.694814,64.103792,35.402329,1018.771481,1016.262654,3.382906,3.918909,15.528291,23.427726,14.109372
Moree,12.905853,26.950548,1.630203,7.624956,8.898589,39.890177,18.129043,16.847372,61.376705,35.808589,1018.312429,1014.928624,3.365844,3.981958,18.867132,25.651113,14.041104
MountGambier,8.825477,19.828995,2.087562,3.437072,6.511167,42.866466,17.528868,22.433993,75.492734,57.329043,1017.937656,1016.375848,5.520478,5.478840,13.784858,18.176277,11.003757
MountGinini,3.577280,11.663676,3.292260,NaN,NaN,46.253951,15.991844,15.232377,77.146697,69.722609,NaN,NaN,NaN,NaN,6.815185,10.209180,8.124110
Newcastle,13.760007,24.101070,3.183892,NaN,NaN,NaN,5.978448,10.614354,74.061429,57.362684,NaN,NaN,4.128306,4.311491,18.119251,22.325534,10.413006
Nhil,8.999809,22.405153,0.934863,NaN,NaN,42.542438,16.457088,20.948506,73.042594,44.919263,1018.537063,1016.395868,NaN,NaN,13.382708,20.871837,13.403753
NorahHead,15.355481,22.588937,3.387299,NaN,NaN,42.183051,13.930837,21.027937,74.590756,67.521198,1018.258148,1016.013331,NaN,NaN,18.467611,20.764211,7.230637
NorfolkIsland,16.871875,21.830253,3.127665,4.742703,7.021751,42.607420,20.173609,21.890921,70.781292,67.836714,1017.597501,1015.856801,5.021067,4.849729,19.783822,20.470070,4.960559
Nuriootpa,9.363242,21.704133,1.390343,5.082404,7.672577,40.672269,14.242891,18.171304,66.760253,45.425567,1018.910959,1016.790003,4.679389,4.877679,14.852064,20.305663,12.356741
PearceRAAF,12.303850,26.051238,1.669080,NaN,8.795306,43.579958,16.029107,20.297352,60.823352,42.079142,1017.635609,1015.096075,3.846389,4.031366,18.832230,24.497083,13.720323
Penrith,12.577449,24.764366,2.175304,NaN,NaN,31.807330,6.357262,11.990391,75.822630,49.098990,NaN,NaN,NaN,NaN,16.984267,23.354091,12.195268
Perth,12.922706,25.034837,1.906295,5.606579,8.784536,34.882999,10.693392,14.519737,62.688128,46.906122,1017.784398,1015.420457,3.383579,3.469740,18.573598,23.461748,12.110620
PerthAirport,12.580359,25.533234,1.761648,5.662832,8.795306,44.201822,17.753575,21.268285,58.775673,41.923205,1017.890323,1015.366789,3.371467,3.444260,18.773480,24.086935,12.952875
Portland,9.586867,18.055053,2.530374,3.424808,6.502065,42.059852,16.329564,20.787828,78.711149,65.991656,1017.684084,1016.624041,6.338082,6.066667,13.195745,16.504204,8.467389
Richmond,11.364202,24.458664,2.138462,5.259236,NaN,34.866283,7.005732,14.849596,76.897627,49.000000,1018.696812,1015.640753,6.246281,5.510309,16.566015,23.128682,13.083624
Sale,8.567420,20.282281,1.510167,3.830098,6.683663,42.479777,14.306489,22.265979,78.918729,56.353707,1017.815492,1015.889212,5.345907,5.094383,13.416628,18.782646,11.710708
SalmonGums,9.313007,24.250827,1.034382,NaN,NaN,39.748372,16.298192,17.302286,62.806408,40.751771,NaN,NaN,NaN,NaN,17.046610,22.661518,14.955149
Sydney,14.866826,23.001975,3.324543,5.189220,7.179567,41.757589,15.075347,19.324797,68.221989,54.694386,1018.343906,1016.018163,4.180115,4.218626,17.821923,21.533473,8.136688
SydneyAirport,14.901729,23.383915,3.009917,5.253797,7.191346,47.234280,18.594145,25.769614,64.834719,53.904825,1018.361213,1015.972854,4.280532,4.278498,18.544880,21.780352,8.480785
Townsville,20.417874,29.367160,3.485592,7.198949,8.457814,38.840570,15.227452,24.251728,63.954276,57.400987,1015.165493,1011.905691,4.300070,4.012667,25.634967,27.769934,8.946954
Tuggeranong,7.242133,20.767545,2.164043,NaN,NaN,35.215883,7.653183,14.894667,72.827095,47.185724,1018.505622,1015.655680,NaN,NaN,12.573899,19.422472,13.530059
Uluru,14.466688,30.383195,0.784363,NaN,NaN,41.268373,17.616732,17.028424,42.664107,24.127700,1017.101403,1013.307751,5.543103,4.834532,21.012348,29.054511,15.934958
WaggaWagga,9.617182,23.031871,1.709946,5.178823,8.197864,36.648105,12.855766,16.218085,67.856953,42.586574,1018.510037,1015.859854,3.854989,4.194993,14.925457,21.749950,13.414689
Walpole,11.806631,20.459184,2.906846,NaN,NaN,39.818836,13.915910,17.227410,76.119266,66.316022,1017.878811,1016.237047,NaN,NaN,15.926158,18.560134,8.655992
Watsonia,10.131879,20.896078,1.860820,4.644378,6.381283,38.059219,9.910239,15.183843,78.383973,54.708873,1018.030229,1016.085045,5.246261,5.263298,13.766010,19.395181,10.751299
Williamtown,12.780180,24.001065,3.591108,6.801387,7.153063,41.677801,16.474599,22.237921,71.773742,53.937708,1018.436370,1015.919746,4.700042,4.484322,18.079694,22.499435,11.229194
Witchcliffe,10.775067,21.686247,2.895664,NaN,NaN,40.085013,13.966367,19.164616,71.364753,57.780180,1018.395130,1016.732974,NaN,NaN,16.542895,19.810376,10.900668
Wollongong,14.939471,21.468174,3.594903,NaN,NaN,45.690842,16.618351,21.926270,67.661906,65.128571,1018.149331,1016.055809,6.222305,5.855328,18.190203,19.934872,6.526945
Woomera,13.363727,26.596707,0.490405,10.141440,9.047932,44.156566,20.002662,20.605728,53.127503,28.402414,1018.632655,1015.969917,2.518027,2.891489,17.924701,25.201896,13.221885